[project]
	description = My files starting with a ., like the .bashrc
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cas de Reuver (casdr)
[access "refs/for/refs/*"]
	read = group user/Cas de Reuver (casdr)
	push = group user/Cas de Reuver (casdr)
	label-Code-Review = -2..+2 group user/Cas de Reuver (casdr)
	label-Verified = -1..+1 group user/Cas de Reuver (casdr)
	rebase = group user/Cas de Reuver (casdr)
	removeReviewer = group user/Cas de Reuver (casdr)
	submit = group user/Cas de Reuver (casdr)
[access "refs/heads/*"]
	read = group user/Cas de Reuver (casdr)
	create = group user/Cas de Reuver (casdr)
	push = +force group user/Cas de Reuver (casdr)
	pushMerge = group user/Cas de Reuver (casdr)
[access "refs/tags/*"]
	push = +force group user/Cas de Reuver (casdr)
	pushTag = group user/Cas de Reuver (casdr)
	pushSignedTag = group user/Cas de Reuver (casdr)
